.container {
  padding:  10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header{
  border-radius: 5px;
  background-color: #6435c9 ;
  color: #fff ;
  text-align: center;
  padding: 1px;

}


.header h2{
  text-transform: capitalize;
}


.search {
  margin: 20px 10px;
  text-align: center;
}

.search input[type="text"] {
  margin-right: 0;
  margin-left: 0;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 2px rgba(0, 123, 255, 0.5);
}

.div-container{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
}

.form-container input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 2px rgba(0, 123, 255, 0.5);
}

.button-container {
  padding-top: 20px;
  text-align: center;
}

.button-container button {
  padding: 10px 20px;
  background-color: rgba(128, 128, 128, 0.504);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: gray
}


table {
  text-align: center;
  margin: 50px 0;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ffffff;
}


tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table button {
  cursor: pointer;
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 7px 7px;
}


.filter-container{
  margin: 20px 10px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
}


select option {
  padding: 8px;
  font-size: 16px;
}


select option:checked {
  background-color: #f0f0f0;
}

select:focus {
  outline: none;
  border: none;
  border-color: #007bff;
  box-shadow: 0 0 2px rgba(0, 123, 255, 0.5);
}
